---
import BaseLayout from "@/components/base/BaseLayout.astro";
---

<BaseLayout
	><div class="flex py-32 px-64">
		<div class="flex w-56 flex-col justify-center gap-8">
			<div class="text-6xl font-semibold">CalOS</div>
			<div>
				<span class="font-bold">Worry free nas sotftware.</span>
				<br />
				<br />
				Zero config, plug and play, auto updating, what more could you ask
				for?
			</div>
			<button
				class="w-46 py-4 bg-zinc-800 rounded-md inline-flex justify-center"
			>
				<div class="justify-start text-zinc-100 font-semibold">
					Get Notified
				</div>
			</button>
		</div>
	</div>
</BaseLayout>
