---
const { title } = Astro.props;
import "@/styles/global.css";
import Footer from "@/components/base/Footer.astro";
import Head from "@/components/base/Head.astro";
import Header from "@/components/base/Header.astro";
---

<html lang="en">
	<head>
		<Head title={title} />
	</head>
	<body class="flex flex-col min-h-screen">
		<head>
			<Head title={title} />
		</head>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
