---
const { title } = Astro.props;

import { Font } from "astro:assets";
---

<link rel="sitemap" href="/sitemap-index.xml" />
<title>{title}</title>
<meta name="description" content="Building services to better the world." />

<!-- Web analytics -->
<script
	is:inline
	src="https://www.aamira.me/api/script.js"
	data-site-id="8"
	async
	defer></script>

<!-- Open Graph tags -->
<meta property="og:title" content="Trellium" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://trellium.org" />
<meta
	property="og:description"
	content="A community organization creating helpful services."
/>
<!-- <meta
	property="og:image"
	content=""
/>
<meta property="og:image:alt" content="" /> -->

<!-- Helpful stuff -->
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
