---

---

<header class="flex px-24 py-8 justify-between items-center self-stretch">
	<img class="size-14" alt="logo" src="/icon.jpg" />
	<div class="flex gap-16">
		<div>Test</div>
		<div>Test</div>
		<div>Test</div>
	</div>
	<div>Last test</div>
</header>
